<header>
        <div class="header-content">
            <div class="header-content-inner">
               <!-- <h1 id="homeHeading">Your Favorite Source of Free Bootstrap Themes</h1>
                <hr>
                <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>-->

                    <h1 id="homeHeading">The Rift Valley Game Lodge</h1>
                <hr>
                <p  color="black">The Great Rift Valley. Revel in the sheer variety of animal, bird and plant life; the diverse landscapes ranging from grassland plains to rocky outcrops create an ideal habitat for the free roaming Big Five and all the little creatures that contribute to a magical wildlife experience you’ll never forget.</p>


               <!-- <p  color="black"> </br>
              </br>
               </br>
                </br>
                 </br>
                  </br>
                   </br>
                    </br>
                     </br>
                      </br>
                       </br>
                        </br>
                         </br>
                          </br></p>-->



                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>


<%= f.select :rooms, ['option1', 'option2']%>